* {
  margin: 0;
  padding: 0;
}

.centralisar{
  text-align: -webkit-center;
  
}

footer {
  background-color:  rgb(15, 100, 137);
 padding-bottom: 25%;
}

.header{
  background-color: rgb(15, 100, 137);
}

.data{
  color: aliceblue;
}

th{
  padding: 10px;

}

.logo{
  padding-left: 300px;
  
}